name: Pipeline CI - Build y Test

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Clonar repositorio
      uses: actions/checkout@v3

    - name: Instalar dependencias
      working-directory: ${{ github.workspace }}
      run: npm install

    - name: Ejecutar tests
      working-directory: ${{ github.workspace }}
      run: npm test
